name: 05 - 1 - Filters Activity Types

on:
    pull_request:
        types:
            - opened
            - synchronize
        branches:
            - main

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Running whevener a PR is opened or synchronized AND base branch is main"